<div class="recent-boards-list">
  <% recent_boards.each do |board| %>
    <div class="card recent-board">
      <div class="card-body">
        <h5 class="card-title"><%= link_to board.name, board_path(board) %></h5>
        <p class="card-text">
          <strong>Creator Email:</strong> <%= board.email %><br>
          <strong>Creation at:</strong> <%= board.created_at.strftime('%b %e, %Y %l:%M %p') %>
        </p>
      </div>
    </div>
  <% end %>
</div>
